.container {
  color: white;
  background: rgba(26, 27, 33, 1);
  text-align: center;
}

.header-img {
  height: 500px;
  width: 320px;
  /* border-radius: 0px 20px, 0px, 20px; */
}

.header {
  background-color: rgba(26, 27, 33, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bio {
  padding: 0px 30px 40px 30px;
  text-align: justify;
}

body {
  width: 550px;
  background: #23252c;
}

footer {
  height: 70px;
  left: 116px;
  top: 760px;
  background: #161619;
}

.logos {
  display: inline-block;
  /* Padding value order: top, right, bottom left */
  padding: 20px 1em 0px 1em;
}
