.container {
  color: white;
  background: rgba(26, 27, 33, 1);
  text-align: center;
}

.header-img {
  height: 500px;
  width: 320px;
  border-radius: 20px 20px, 0px, 0px;
}

.header {
  background-color: rgba(26, 27, 33, 1);
  color: white;
}

.jobTitle {
  color: salmon;
}

.bio {
  padding: 0px 30px 40px 30px;
  text-align: justify;
}

body {
  width: 550px;
  background: #23252c;
}

footer {
  height: 70px;
  left: 116px;
  top: 760px;
  background: #161619;
}

.logos {
  display: inline-block;
  /* Padding value order: top, right, bottom left */
  padding: 1em 1em 0em 1em;
  width: 30px;
  height: 30px;
}
