.container {
  color: white;
  background: rgba(26, 27, 33, 1);
  text-align: center;
}

.main-img {
  height: 500px;
  width: 320px;
}

.App-header {
  background-color: rgba(26, 27, 33, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;

  background: #23252c;
}

footer {
  /* width: 317px; */
  height: 64px;
  left: 116px;
  top: 760px;

  background: #161619;
  /* border-radius: 0px 0px 10px 10px; */
}
